<div class="container top-margin">

  <h3 class="text-center mt-4">Edit selected article</h3>

  <%= render "form" %>

  <div class="mb-4">
    <%= link_to "All articles", articles_path, class: "btn btn-outline-info" %>
    <%= link_to "Show article", article_path(@article), class: "btn btn-outline-info" %>
    <%= link_to "Delete article", article_path(@article), method: :delete, data: {confirm: "Are you sure"}, class: "btn btn-outline-danger" %>
  </div>

</div>



