<h3 class="text-center mt-4">Listing all articles</h3>

<div class="container">
<%= render 'article', obj: @articles %>
</div>

<!--<p><%#= link_to 'Create new Article', new_article_path %></p>-->
<div id="fab">
<!--  <button class="btn btn-outline-info  btn-circle btn-xl"><i class="fa fa-plus"></i></button>-->
  <%= link_to "+", new_article_path, class: "btn btn-outline-info  btn-circle btn-xl", id: "biger-font" %>
</div>
