<div class="container top-margin">
  <h3 class="text-center mt-4">Edit user Details</h3>

  <%= render "form" %>
  <div class="mb-4">
    <%= link_to "All articles", articles_path, class: "btn btn-outline-info" %>
  </div>

</div>

